# Dependencias generadas (no editar manualmente)
.dart_tool/
build/
!build/web/
build/web/assets/.env

# Variables de entorno sensibles
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml

# Android/iOS
android/local.properties
ios/Flutter/flutter_export_environment.sh
